{
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator",
    "transform-es2015-spread",
    "transform-react-jsx"
  ]
}
