.home {
    h1 {
        color: #999;
        text-align: center;
    }
    section {
        padding: 0.2rem 0.5rem;
        background: #fff;
        border-radius: 6px;
    }
    .todo {
        display: flex;
        padding: 0.6rem 0.8rem;
        border: 1px solid #eee;
        border-radius: 3px;

        .todo-checkbox {
            padding-right: 1rem;
        }
        .todo-desc {
            flex: 4;
        }
        .todo-remove {
            flex: 1;
            text-align: right;
        }
        .fa-close {
            cursor: pointer;
        }
    }
}
